@import url(https://fonts.googleapis.com/css?family=Voltaire);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  }

body {
  text-align: center;
  background-color: hsl(49,97%,74%);
  }

nav {
  font-family: 'Voltaire', sans-serif;
  color: #222;
  display: inline-block;
  }
  nav > a {
    display: block;
    
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
    text-transform: UPPERCASE;
    
    transform-origin: 0 0;
    transform: matrix(1, -0.4, 0, 1.2, 0, 100);
    
    padding: .2em;
    margin-bottom: .3em;
    
    transition: .5s background;
    }
  .home {
    font-size: 3em;
    }
  nav > a:nth-of-type(even) {
    border-right: 6px solid; 
    border-top: 1px solid;   
    border-bottom: 1px solid;  
    }
  nav > a:nth-of-type(odd) {
    border-left: 6px solid;
    }
  nav > a:hover, nav > a:focus {
    background: #222;
    color: hsl(49,97%,74%);
    border-color: #222;
    }